html {
    font-family: Helvetica;
}

.page {
    display: none;
}

.page.active {
    display: block;
}

#title {
    font-size: 70px;
    font-weight: bold;
}

#title-two {
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 10px;
    border-bottom: 5px solid black;
}

.splash {
    padding: 10px;
    position: relative;
    z-index: -1;
}

.green {
    background-color: mediumspringgreen;
}

.bold {
    font-weight: bold;
}

#note-about-envelope-budgeting-container {
    margin-top: 72px;
    width: 82%;
}

#note-about-envelope-budgeting {
    font-size: 20px;
    margin-right: 200px;
    line-height: 1.7;
}

#search-container {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#search-form input {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 500px;
    height: 35px;
    padding: 2px 20px;
    font-family: verdana;
    font-size: 20px;
}

#search-form input:hover, #search-form input:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

#search-form button {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 50px;
    height: 40px;
    background-color: #fff;
    font-size: 20px;
}

#search-form button:hover {
    background-color: #f0f0f0;
}

.envelopes-table-container-outer {
    margin-top: 75px;
}

#your-envelopes-title {
    font-size: 35px;
    margin-bottom: 30px;
}

.envelopes-table-container-inner {
    border: 1px solid #ddd;
    border-radius: 15px; 
    overflow: hidden;
    width: 60%;
}

.envelopes-table-class {
    border-collapse: collapse;
    width: 100%;
}

.envelopes-table-class tr:nth-child(odd) {
    background-color: white;
}

.envelopes-table-class tr:nth-child(even) {
    background-color: #F7F7F7;
}

.envelopes-table-class th, .envelopes-table-class td {
    border: 1px solid #ddd;
    padding: 12px 40px;
    font-family: Verdana;
    font-size: 20px;
}

.envelopes-table-class th {
    background-color: #ddd;
    font-family: Helvetica;
    font-size: 25px;
}

.envelopes-table-class tr:hover {
    background-color: mediumspringgreen;
}

.container {
    margin-top: 80px;
}

.section-title {
    margin: 0px;
    font-size: 35px;
}

.form-container {
    background-color: #F7F7F7;
    display: inline-block;
    margin-top: 30px;
    padding: 35px;
    border-radius: 20px;
}

.form {
    display: flex;
    flex-direction: column;
}

.form label {
    font-size: 20px;
    font-family: Verdana;
    margin-bottom: 10px;
}

.form input {
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 90%;
    height: 35px;
    padding: 5px 20px;
    font-family: Verdana;
    font-size: 20px;
    margin-bottom: 35px;
}

.form input:hover, .form input:focus {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.form button {
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 40%;
    height: 40px;
    background-color: #fff;
    font-size: 20px;
    font-family: Verdana;
    margin-top: 20px;
}

.form button:hover {
    background-color: #f0f0f0;
    cursor: pointer;
}

input:focus {
    outline: none;
}
