html {
    font-family: 'Albert Sans', serif;
    font-weight: 350;
    scroll-behavior: smooth;
    color: #13274F;
}

form input:focus {
    outline: none;
}

#homepage {
    margin-top: 110px;
    padding: 10px 50px;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #13274F;
    color: #FFFFFF;
    z-index: 1000;
    display: flex;
    align-items: center;
    gap: 15vw;
    padding: 1vw 3vw;
}

#homepage-logo-nav {
    width: 12vw;
}

.navbar ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.navbar li {
    margin: 0vw 2vw;
}

.navbar a {
    color: #FFFFFF;
    text-decoration: none;
    font-weight: bold;
    font-size: 1vw;
}

.navbar a:hover {
    text-decoration: #FFFFFF wavy underline;
}

#homepage-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
}

#homepage-logo-title {
    width: 20vw;
}

#homepage-title {
    font-size: 3.1vw;
    font-weight: bold;
}

#note-about-envelope-budgeting-container {
    margin: 0vw 10vw;
    margin-top: 3.5vw;
    line-height: 3vw;
}

.note-about-envelope-budgeting {
    font-size: 1.5vw;
}

#about-envelope-budgeting,
#why-coinvelope {
    scroll-margin-top: 5.7vw;
}

#get-started {
    scroll-margin-top: 22.5vw;
}

#down-arrow {
    text-align: center;
    font-size: 7vw;
    margin: 0;
    margin-top: 5vw;
    padding: 0;
}

#homepage .container-title {
    margin-top: 5vw;
    font-size: 2.5vw;
}

.container-title {
    margin: 0;
    margin-top: 1.5vw;
    text-align: center;
    font-size: 1.8vw;
}

#income-input-form {
    margin-top: 3vw;
    display: flex;
    justify-content: center;
    gap: 1.5vw;
}

form input {
    font-family: monospace;
    color: #13274F;
    border: 3px solid #13274F;
    border-radius: 25px;
}

form input:focus,
form input:hover {
    box-shadow: 0px 1px 10px #13274F;
}

#income-input-form input {
    width: 30vw;
    height: 2.5vw;
    font-size: 2vw;
    padding: 0.5vw 1vw;
}

#income-input-form button {
    padding: 0.5vw 1vw;
}

form button {
    border: 3px solid #13274F;
    border-radius: 30px;
    font-family: "Albert Sans", sans-serif;
    background-color: #13274F;
    color: #FFFFFF
}

form button:hover {
    background-color: #FFFFFF;
    color: #13274F;
    border: 3px solid #13274F;
    cursor: pointer;
}

#dashboard {
    padding: 1.5vw 5vw;
}

.logo-search-container {
    display: flex;
    align-items: center;
    gap: 15vw;
    margin-bottom: 7vw;
}

.dashboard-search-logo {
    width: 12vw;
}

.search-container form {
    display: flex;
    align-items: center;
    gap: 1vw;
}

.search-container form input {
    border: 2px solid #13274F;
    border-radius: 25px;
    font-family: monospace;
    font-size: 1.2vw;
    padding: 0.5vw 1vw;
    width: 30vw;
    height: 2vw;
}

.search-container form button {
    border-radius: 50px;
    height: 3.5vw;
    padding: 0.5vw 1vw;
}

.container-wrapper {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 2vw;
} 

.container {
    border: 2px solid #13274F;
    border-radius: 25px;
    background-color: #F5F5F5;
    display: inline-block;
    padding: 0.5vw 1vw;
    width: 25vw;
    height: 35vw;
    overflow: scroll;
}

#envelopes-table-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 1.75vw;
}

#envelopes-table {
    text-align: center;
}

#envelopes-table thead {
    font-size: 1.8vw;
    margin: 0;
    text-decoration: #13274F wavy underline;
}

#envelopes-table tbody {
    font-size: 1.5vw;
}

#envelopes-table th,
#envelopes-table td {
    padding: 0.5vw 2vw;
    font-weight: bold;
}

.ellipsis {
    text-align: center;
    font-size: 3vw;
    margin: 0;
    margin-top: 0.5vw;
}

.container .form-container {
    margin-top: 2.5vw;
    padding: 0vw 0.5vw;
}

.container form {
    display: flex;
    flex-direction: column;
}

.container form label {
    font-size: 1.5vw;
}

.container form input {
    margin-top: 1vw;
    margin-bottom: 2vw;
    padding: 0.3vw 1vw;
    width: 22vw;
    height: 2vw;
    font-size: 1.1vw;
}

.container form button {
    margin-bottom: 2vw;
    width: 50%;
    height: 3.5vw;
}

.budgeting-information-title {
    margin: 0;
    margin-top: 3.55vw;
    font-size: 2vw;
    font-weight: bold;
    text-align: center;
    text-decoration: #13274F wavy underline;
}

.budgeting-information {
    margin: 0;
    margin-top: 1vw;
    text-align: center;
    font-size: 6.5vw;
    font-weight: bold;
}

#updates-history-disclaimer {
    margin: 0;
    font-size: 0.75vw;
    text-align: center;
}

#updates-history {
    margin-top: 2vw;
    padding: 0vw 1vw;
    display: flex;
    flex-direction: column;
    gap: 0.25vw;
}

#updates-history p {
    font-size: 1vw;
    text-align: center;
    padding-bottom: 2.25vw;
    border-bottom: 1px solid #13274F;
}

#updates-history p:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.danger-zone {
    border: 2px solid #DC143C;
}

.danger-zone-title {
    color: #DC143C;
}

.danger-zone-container {
    padding: 0vw 1vw;
    margin-top: 2.5vw;
}

.danger-zone-container p {
    margin-top: 2.75vw;
}

.danger-zone-container form {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.75vw;
}

.danger-zone-container form input {
    width: 12.5vw;
    height: 1.75vw;
    margin: 0;
}

.danger-zone-container form button {
    padding: 0vw 0.5vw;
    width: 7.5vw;
    height: 2.75vw;
    margin: 0;
}

.danger-zone-container button  {
    margin: 0;
    margin-bottom: 0.75vw;
    padding: 0.5vw 1vw;
    border: 3px solid #13274F;
    border-radius: 0px;
    font-family: "Albert Sans", sans-serif;
    background-color: #13274F;
    color: #FFFFFF;
    height: 2.5vw;
    border-radius: 30px;
}

.danger-zone-container button:hover {
    background-color: #FFFFFF;
    color: #13274F;
    border: 3px solid #13274F;
    cursor: pointer;
}

#search-results-page {
    padding: 1.5vw 5vw;
}

#return-to-home-btn {
    border-radius: 10px;
    width: 10vw;
    height: 3.75vw;
    background-color: #13274F;
    color: #FFFFFF;
    border: 3px solid #13274F;
}

#return-to-home-btn:hover {
    background-color: #FFFFFF;
    color: #13274F;
    cursor: pointer;
}

#search-results-page .container {
    height: 21vw;
    overflow: hidden;
}

.envelope-information {
    text-align: center;
    font-size: 8vw;
    font-weight: bold;
    margin: 0;
    margin-top: 3vw;
}

#product-note {
    margin: 0;
    margin-top: 1.25vw;
    padding: 0vw 1vw;
    font-size: 1.5vw;
    font-weight: 300;
}

#pattern-container {
    margin-top: 10vw;
}

.pattern:nth-of-type(even) {
    height: 1vw;
    width: 100%;
    background-color: #FFFFFF;
}

.pattern:nth-of-type(odd) {
    height: 1vw;
    width: 100%;
    background-color: #13274F;
}

#footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5vw;
    margin-bottom: 2vw;
    gap: 5vw;
}

#footer-logo {
    width: 20vw;
}

#footer div p {
    font-size: 1vw;
    font-weight: bold;
    margin: 0.2vw;
    color: #13274F;
}

#footer div a {
    text-decoration: #13274F wavy underline;
    color: #13274F;
}

#footer div a:hover {
    background-color: #13274F;
    color: #FFFFFF;
    text-decoration: none;
}



